---
---

<footer>
	<ul class="social-links">
				<li>
					<a target="_blank" href="https://instagram.com/fmsfeli">
						<svg width="35" height="35" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g>
							<rect x="5" y="5" width="40" height="40" rx="12" stroke="currentColor" stroke-width="3" fill="none" />
							<circle cx="25" cy="25" r="9" stroke="currentColor" stroke-width="3" fill="none" />
							<circle cx="35" cy="15" r="2" fill="currentColor" />
						</g>
						</svg>
					</a>
				</a>
			</a>
		</li>
		<li>
			<a target="_blank" href="https://github.com/cuantovale/">
				<svg width="35" height="35" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M24.9912 1.25C19.0933 1.25306 13.3887 3.342 8.89755 7.1433C4.40641 10.9446 1.42158 16.2104 0.476755 21.9991C-0.468069 27.7877 0.688722 33.7219 3.7403 38.7403C6.79189 43.7588 11.5393 47.5343 17.1335 49.3918C18.3677 49.6209 18.8326 48.856 18.8326 48.2056C18.8326 47.5552 18.8079 45.6694 18.7997 43.6078C11.8882 45.1008 10.4278 40.6912 10.4278 40.6912C9.30055 37.8278 7.67142 37.0752 7.67142 37.0752C5.41697 35.5453 7.84011 35.5739 7.84011 35.5739C10.3373 35.7498 11.6496 38.1223 11.6496 38.1223C13.863 41.8979 17.4626 40.8058 18.8779 40.1676C19.1 38.5682 19.7459 37.4801 20.4576 36.8624C14.9367 36.2407 9.13599 34.1218 9.13599 24.6562C9.10177 22.2014 10.0179 19.8274 11.6949 18.0254C11.4398 17.4036 10.5882 14.892 11.9376 11.4805C11.9376 11.4805 14.0234 10.8178 18.7709 14.0126C22.843 12.9053 27.1394 12.9053 31.2115 14.0126C35.9549 10.8178 38.0366 11.4805 38.0366 11.4805C39.3901 14.8839 38.5385 17.3955 38.2834 18.0254C39.9657 19.8277 40.8838 22.2058 40.8464 24.6644C40.8464 34.1504 35.0334 36.2407 29.5042 36.8502C30.3928 37.6192 31.1868 39.1204 31.1868 41.4275C31.1868 44.7327 31.158 47.3916 31.158 48.2056C31.158 48.8642 31.6065 49.6332 32.8653 49.3918C38.4603 47.5341 43.2081 43.7579 46.2596 38.7386C49.3112 33.7193 50.4674 27.7843 49.5215 21.995C48.5756 16.2058 45.5892 10.94 41.0966 7.13934C36.604 3.33869 30.8981 1.25112 24.9994 1.25H24.9912Z" fill="currentColor"/>
					<path d="M9.55505 36.7192C9.50157 36.8419 9.3041 36.8787 9.14366 36.7928C8.98321 36.7069 8.86392 36.5474 8.92151 36.4206C8.97911 36.2938 9.17246 36.2611 9.33291 36.347C9.49335 36.4329 9.61676 36.5965 9.55505 36.7192Z" fill="currentColor"/>
					<path d="M10.563 37.8359C10.4779 37.8786 10.3804 37.8905 10.2873 37.8696C10.1943 37.8487 10.1114 37.7963 10.0529 37.7214C9.89248 37.5496 9.85955 37.3123 9.98297 37.206C10.1064 37.0996 10.3286 37.1487 10.489 37.3205C10.6494 37.4923 10.6865 37.7296 10.563 37.8359Z" fill="currentColor"/>
					<path d="M11.5421 39.2554C11.3899 39.3617 11.1307 39.2554 10.9867 39.0427C10.9469 39.0045 10.9152 38.9587 10.8936 38.9081C10.8719 38.8575 10.8608 38.8031 10.8608 38.7481C10.8608 38.6931 10.8719 38.6387 10.8936 38.5881C10.9152 38.5375 10.9469 38.4918 10.9867 38.4536C11.1389 38.3514 11.3981 38.4536 11.5421 38.6622C11.6861 38.8708 11.6902 39.149 11.5421 39.2554V39.2554Z" fill="currentColor"/>
					<path d="M12.871 40.6299C12.7352 40.7812 12.4596 40.7403 12.2333 40.5358C12.007 40.3313 11.9535 40.0531 12.0893 39.9059C12.2251 39.7586 12.5007 39.7995 12.7352 39.9999C12.9697 40.2004 13.0149 40.4826 12.871 40.6299V40.6299Z" fill="currentColor"/>
					<path d="M14.7345 41.4315C14.6728 41.6238 14.393 41.7097 14.1133 41.6279C13.8335 41.546 13.6484 41.317 13.7019 41.1206C13.7554 40.9243 14.0392 40.8343 14.3231 40.9243C14.607 41.0143 14.788 41.2311 14.7345 41.4315Z" fill="currentColor"/>
					<path d="M16.767 41.5706C16.767 41.7711 16.5366 41.9429 16.2404 41.947C15.9442 41.951 15.7015 41.7874 15.7015 41.587C15.7015 41.3865 15.9319 41.2147 16.2281 41.2106C16.5243 41.2066 16.767 41.3661 16.767 41.5706Z" fill="currentColor"/>
					<path d="M18.6592 41.2557C18.6962 41.4561 18.4905 41.6647 18.1943 41.7138C17.8981 41.7629 17.6389 41.6443 17.6019 41.4479C17.5649 41.2516 17.7788 41.0389 18.0668 40.9857C18.3548 40.9325 18.6222 41.0552 18.6592 41.2557Z" fill="currentColor"/>
				</svg>
			</a>
		</li>
	</ul>
</footer>
<style>
	footer {
		height: 5.5em;
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 2em;
		color: rgb(var(--gray));
		font-size: 1.1rem;
		text-align: center;
	}
	@media (max-width: 574px) {
		footer svg {
			width: 30px;
			height: auto;
		}
		footer {
			font-size: 0.9rem;
		}
	}
</style>
